# OAuth 2.0 구글 클라이언트 설정
# Google Cloud Console에서 발급받은 값으로 변경하세요
GOOGLE_CLIENT_ID=560940701289-7mffhllivajutnlhescans3oncok204v.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
